*{

    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "myfont";
    src: url(./NHaasGroteskTXPro-65Md.ttf);
}

.header{

    position: absolute;
    width: 100%;
    height: 10vh;
    align-items: center;


}

.me-2{

    position: relative;
    width: 590px;
    height: 38px;
    margin: auto;
    left: 15.7%;
    font-size: large;
    border: 1px solid rgb(221, 218, 218);
    float: left;
    top: 2.2vh;
    border-radius: 5px 0px 0px 5px;

    
}

#img{

    position: relative;
    width: 7%;
    height: 15vh;
    border-radius: 50%;
    top: 4.8vh;
    left: 19%;
    float: left;
}

.secondheader{

    position: relative;
    width: 100%;
    height: 33vh;
    background-color: #464444;
    top: 63px;
    color: white;
}


.buttonCY:hover{

    background-color: black;
    color: white;
    border-color: black;

}

.fa-check-circle{

    font-size: 15px;
    position: relative;
    bottom: 5px;
    left: 2px;
}


.nav{

    position: relative;
    top: 80%;
    right: 10%;
}

.div-3{

    position: relative;
    top: 62.3px;
    width: 100%;
    height: 290vh;
    background-color:black;
    padding: 0px;
}

.content{

    position: relative;
    top: 62.3px;
    width: 100%;
    height: 160vh;
    background-color:black;
    padding: 0px;  
}


    

.video-1{

    position: relative;
    width: 799px;
    height: 466px;
    background-color: rgb(65, 59, 59);
    color: white;
    margin: auto;
    top: 60px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0px 0px 5px 5px;
    transition: transform .2s;
}

.video-1:hover{

    box-shadow: 0px 0px 10px 5px #b3b2b2;
    transform: scale(1.1);
    z-index: 100;
}

.video-t{

    position: relative;
    width: 250px;
    height: 360px;
    background-color: rgb(65, 59, 59);
    color: white;
    top: 60px;
    left: 105px;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    float: left;
    margin-top: 30px;
    border-radius: 0px 0px 5px 5px;
    transition: transform .2s;
    
}

.video-t:hover{

    box-shadow: 0px 0px 10px 5px #b3b2b2;
    transform: scale(1.1);
    z-index: 100;
}



.go-this{

    width: 100%;
}

.go-this-1{

    width: 100%;
    

}

.video-2{

    position: relative;
    width: 300px;
    height: 320px;
    background-color: rgb(65, 59, 59);
    color: white;
    top: 150px;
    left: 105px;
    margin-left: 60px;
    display: flex;
    flex-wrap: wrap;
    float: left;
    border-radius: 0px 0px 5px 5px;
    transition: transform .2s;
}

.video-2:hover{

    box-shadow: 0px 0px 10px 5px #b3b2b2;
    transform: scale(1.1);
    z-index: 100;
}